{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block head %}
    {{ render_nav_item('College-class-manager.teacher', tno, tno=tno) }}
    {{ render_nav_item('College-class-manager.teacher_account', '修改密码', tno=tno) }}
    {{ render_nav_item('College-class-manager.teacher_course', '浏览课程', tno=tno) }}
    {{ render_nav_item('College-class-manager.teacher_score', '成绩录入', tno=tno) }}
    {{ render_nav_item('College-class-manager.index', '退出登录') }}
{% endblock %}